<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hawaiki</title>

    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">    
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css"> --}}
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izimodal-1.6.0@1.6.1/css/iziModal.min.css">
    {{!-- <link rel="stylesheet" type="text/css" href="/iziModal.css"> --}}
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Hawaiki</a> 
        <a href="/products">Products</a>    
        {{!-- <a href="/login" class="trigger" data-izimodal-open="#modal">login</a> --}}
        <a href="/checkout">Checkout</a>    
        
        {{!-- <a href="/products">Shop</a> --}}
        <a href="/"><img src="/images/Hawaikilogo.png" alt="home-icon" height="150" width="150"></a>     
        {{#if logged_in}}
        <a href="#" id="logout">Logout</a>
        {{else}}
        <a href="#" data-izimodal-open="#modal-custom">Login</a>  
          
        {{/if}}
    </nav>
    <main>
        <div id="modal-alert"  class="iziModal hide"></div>

        <div id="modal-custom" class="hide" data-iziModal-group="grupo1">
        <button data-iziModal-close="" class="icon-close">x</button>
        <header>
            <a href="" id="signin">Sign in</a>
            <a href="" class="active">New Account</a>
        </header>
        <section class="hide">
            <form id="login-form">
            <input type="text" placeholder="Email" id="login-email">
            <input type="password" placeholder="Password" id="login-password">
            <footer>
                <button type="submit" class="submit">Log in</button>            
                <button data-iziModal-close="">Cancel</button>
            </footer>
            </form>
        </section>
        <section>
            <form id="signup-form">
            <input type="text" placeholder="Username" id="username-signup">
            <input type="text" placeholder="Email" id="email-signup">
            <input type="password" placeholder="Password" id="password-signup">
            {{!-- <label for="check"><input type="checkbox" name="checkbox" id="check" value="1"> I agree to the <u>Terms</u>.</label> --}}
            <footer>
                <button type="submit" class="submit">Create Account</button>            
                <button data-iziModal-close="">Cancel</button>
            </footer>
            </form>
        </section>
    </div>
    {{{body}}}

    <footer>
        <h1>Contact / Follow Us</h1>
    <div>
        <a href="https://www.facebook.com/hawaiki.kho/" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/hawaiki.kho/" class="fa fa-instagram"></a>
    </div> 
    </footer>
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{else}}
        <script src="/js/login.js"></script>

{{/if}}

    </main>
    {{!-- <script src="/js/bundle.js"></script> --}}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.min.js" type="text/javascript"></script>


</body>
</html>
