<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hawaiki</title>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <nav>
        <a href="/">Hawaiki</a> 
        <a href="/products">Products</a>    
        {{#if logged_in}}
        <a href="#" id="logout">Logout</a>
        {{else}}
        <a href="/login">Login</a>    
        {{/if}}
    </nav>
    <main>
    {{{body}}}

    <footer>
      <p>
          I'm a link 
      </p>  
    </footer>
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}

    </main>
</body>
</html>