
{{!-- <div id="modal" data-iziModal-group="grupo1">
        <button data-iziModal-close class="icon-close">x</button>
        <header>
            <a href="" id="signin">Sign in</a>
            <a href="" class="active">New Account</a>
        </header>
        <section class="hide">
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <footer>
                <button data-iziModal-close>Cancel</button>
                <button class="submit">Log in</button>            
            </footer>
        </section>
        <section>
            <input type="text" placeholder="Username">
            <input type="text" placeholder="Email">
            <input type="password" placeholder="Password">
            <label for="check"><input type="checkbox" name="checkbox" id="check" value="1"> I agree to the <u>Terms</u>.</label>
            <footer>
                <button data-iziModal-close>Cancel</button>
                <button class="submit">Create Account</button>            
            </footer>
        </section>
    </div> --}}
      


{{!<div>
  <h3>Sign Up</h3>
  <form id="signup-form">
    <div>
      <label for="username-signup">Enter a username</label>
      <input type="text" id="username-signup" />
    </div>
    <div>
      <label for="email-signup">email:</label>
      <input type="text" id="email-signup"></input>
    </div>
    <div>
      <label for="password-signup">password:</label>
      <input type="password" id="password-signup"></input>
    </div>
    <div>
            <button type="submit" class="btn" id="signup-btn">Signup</button>
    </div>

  </form>
</div>

<div>
<h3>Login</h3>
<form id="login-form">
  <div>
    <label for="login-email">email:</label>
    <input type="text" id="login-email">
  </div>
  <div>
    <label for="login-password">Password</label>
    <input type="text" id="login-password">
  </div>
  <button type="submit" class="btn" id="login-btn">Login</button>

</form>

</div>

<script src="./js/login.js"></script>
}}