:root {
    --sea:rgb(116, 219, 205);
}
body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Permanent Marker', cursive;
}
nav {
    display: flex;
    text-decoration: none;
    justify-content:space-around;
    font-size: 3rem;
    margin: 0px 50px 0px 50px;
}
 nav a {
     text-decoration: none;
     text-align: center;
     color: black;
     opacity: .8;
}

nav a:hover {
    text-shadow: 5px 5px var(--sea);
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: 'Permanent Marker', cursive;
}
footer h1 {
    opacity: .8;
    text-align: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.homepageHero {
    display:flex;
    flex-direction: column;
    align-items:center;
}

.homepageImg {
    border-radius: 50px 50px 50px 50px;
    height:700px;
    width: 900px;
    box-shadow: 0px 0px 25px var(--sea);
}
.homepageHeader {
    opacity: .8;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 20px 50px 20px 50px;

}

.shopTitle {
    text-shadow: 4px 4px var(--sea);
    text-align: center;
    font-size: 3rem;
    opacity: .8;
}
.productsDiv {
    display: grid;  
    grid-template-columns: auto auto;
    grid-gap: 50px;
}

.productImg {
    border-radius: 50px 50px 50px 50px;
    width: 350px;
    height: 350px;
}
.productHeader {
    opacity: .8;
}
.price {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}
.itemDescription p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
}
.itemDescription {
    margin-left: 40px;
    margin-right: 50px;
}
.itemDescription h3 {
    font-size: 1.5rem;
    margin: 5px;
}
.itemImg {
    border-radius: 50px;
    height: 600px;
    width: 600px;
}

@media  screen and (max-width: 700px) {
    .homepageImg {
        width: 100%;
        height: max-content;
        border-radius: 0;
        box-shadow: none;
    }
    body {
        margin: 0;
    }
    nav {
        margin: 0;
    }
    nav a {
        font-size: 1.5rem;
    }
    footer {
        margin: 50px 30px 20px 30px;
    }
    footer h1 {
        font-size: 1.5rem;
    }
    .productImg {
        width: 100%;
        height:max-content;
    }
    .productHeader h1 {
        font-size: 1.5rem;
    }
    .itemImg {
        width: 100%;
        height: max-content;
        border-radius: 0;
    }
    .itemDescription {
        margin: 20px 30px 20px 30px;
    }
    .shopTitle {
        font-size: 2rem;
        text-shadow: 2px 2px var(--sea);
        margin:20px;
    }
}

@media  screen and (min-width: 700px) {
    .productCard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .itemDiv {
        display: flex;
        flex-direction: row;
    }

}

@media  screen and (max-width: 1500px) {
    .productsDiv {
        display: flex;  
        flex-direction: column;
        justify-content: center;
        margin: 20px 30px 20px 30px;
   
    }

}